# Binary Files
*.bin
*.sys

# Docker bash history
.bash_history

# The images
*.img
*.qcow2
*.vmdk

# Object files
*.o

# Vim swap files
*.swp
*.swo
*.viminfo

# Mac specific
.DS_Store

# VSCode
.vscode/
*.code-workspace

# Python venv
.venv


